    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_admin"> Regresar </a>
            </div>
            <!-- End Back Button -->
            <div class="col-md-8"></div><!-- Neutral Space -->
            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-sm btn-block" href="#!index_admin"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <!-- Menu -->
    <div class="container-fluid" name="menu">
        <div class="row">
            <div class="col-md-3"></div> <!-- Neutral Space -->
            <!-- Main Menu -->
            <div class="col-md-6">
                <h1 class="justify-content-center d-flex"> Registrador </h1>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success btn-block btn-lg" href="#!NuevoRegistrador">Nuevo</a>
                        <a class="btn btn-success btn-block btn-lg" href="#!ListadoRegistradores">Listado</a>
                    </div>
                </div>
            </div>
            <!--  End Main Menu -->
            <div class="col-md-3"></div> <!-- Neutral Space -->
        </div>
    </div>
    <!-- End Menu -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->