    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_Area"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Lista de Áreas de Conocimiento </h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-sm btn-block" href="#!index_admin"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">

                <!-- Lista Resultados -->
                <div id="DivResultados" class="form-group">

                    <!-- Elementos Lista -->

                </div>
                <!-- End Lista Resultados -->

            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->


    <!-- Hiiden Forms -->
    <div class="d-none">
        <form id="Oculto">
            <input type="hidden" id="IdAmin" name="idAdmin">
            <input type="hidden" id="Operation" name="Operation">
        </form>
    </div>
    <!-- End Hiiden Forms -->
