    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!DetallesPosgrado"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Editar Posgrado</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-sm btn-block" href="#!index_admin"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-3"></div><!-- Neutral Space -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultados" class="form-group">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <span>Clave:</span>
                                    <input type="text" class="form-control" id="ClaveP" value="" readonly>
                                </div>
                                <div class="col-md-12">
                                    <span>Area:</span>
                                    <input type="text" class="form-control" id="AreaConocimiento" value="" readonly>
                                </div>
                                <div class="col-md-12">
                                    <span>Nivel:</span>
                                    <input type="text" class="form-control" id="NivelP" value="" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <!-- Data Inputs -->
    <div class="container-fluid" name="data_inputs">
        <div class="row">
            <div class="col-md-3"></div><!-- Neutral Space -->
            <div class="col-md-6">
                <!-- Form -->
                <form id="Principal">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Input 1 -->
                            <div class="form-group">
                                <span> Nombre: </span>
                                <input type="text" class="form-control" name="Nombre">
                            </div>
                            <!-- Input 2 -->
                            <div class="form-group">
                                <span> Convocatoria: </span>
                                <input type="file" class="form-control-file" name="Convocatoria">
                                <p class="help-block"> Solo archivos PDf (.pdf). </p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="Operation" name="Operation">
                    <input type="hidden" id="IdPosgradoV" name="idPosgrado">
                    
                </form>
                <!-- End Form -->
            </div>
            <div class="col-md-3"></div><!-- Neutral Space -->
        </div>

    </div>
    <!-- End Data Inputs -->

    <br><!-- Neutral Space -->

    <!-- Page Buttons -->
    <div class="container-fluid" name="page_buttons">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success btn-block" name="btn_save" id="BtnGuardar"> Guardar </button>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Page Buttons -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->

    <!-- Hiiden Forms -->
    <div class="d-none">
        <form id="Oculto">
            <input type="hidden" id="IdPosgradoO" name="idPosgrado">
            <input type="hidden" id="OptionO1" name="Operation">
        </form>
    </div>
    <!-- End Hiiden Forms -->
