    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!DetallesPosgrado"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Convocatoria</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-sm btn-block" href="#!index_admin"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12">
                    <object type="application/pdf" width="100%" height="100%" class="w-100 h-100" data="" id="convocatoria"><!-- Edit "data" tag whit pdf source rute-->
                      <p>Alternative text - include a link <a href="">to the PDF!</a></p><!-- Edit "href" tag whit the same pdf source rute-->
                    </object>
                  </div>
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->
