
<!-- Content -->
<br><br><!-- Neutral Space -->

<!-- Header -->
<div class="container-fluid" name="header">
    <div class="row">
        <div class="col-md-2"></div>
        <!-- Page Title -->
        <div class="col-md-8">
            <h3 class="text-center text-primary">Inicio de Sesión</h3>
        </div>
        <!-- End Page Title -->
        <div class="col-md-2"></div>
    </div>
</div>
<!-- End Header -->

<br><!-- Neutral Space -->

<!-- Data Inputs -->
<div class="container-fluid" name="data_inputs">
    <div class="row">
        <div class="col-md-1"></div><!-- Neutral Space -->
        <div class="col-md-10">
            <!-- Form -->
            <form id="data">
                <div class="row">
                    <div class="col-md-4"></div><!-- Neutral Space -->
                    <div class="form-group col-md-4 text-center">
                        <label>Correo:</label>
                        <!-- Input -->
                        <input type="email" class="form-control" placeholder="ejemplo@abc.com" name="Correo" id="Correo">
                    </div>
                    <div class="col-md-4"></div><!-- Neutral Space -->
                    <div class="col-md-4"></div><!-- Neutral Space -->
                    <div class="form-group col-md-4 text-center">
                        <label>Contraseña:</label>
                        <!-- Input -->
                        <input type="password" class="form-control" placeholder="Contraseña" name="Contrasena" >
                        <small class="form-text text-muted text-right"><a href="#!recovery"> Recuperar Contraseña</a></small>
                    </div>
                    <div class="col-md-4"></div><!-- Neutral Space -->
                    <div class="col-md-4"></div><!-- Neutral Space -->
                    <div class="col-md-4 form-group text-center">
                        <label>Tipo de Usuario:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Input -->
                                <input type="radio" id="RadioAlumno" name="TipoUsuario" value="alumno">
                                <span>Alumno</span>
                            </div>
                            <div class="col-md-6">
                                <!-- Input -->
                                <input type="radio" id="RadioProfe" name="TipoUsuario" value="profesor">
                                <span>Profesor</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Input -->
                                <input type="radio" id="RadioAdmin" name="TipoUsuario" value="administrador">
                                <span>Administrador</span>
                            </div>
                            <div class="col-md-6">
                                <!-- Input -->
                                <input type="radio" id="RadioRegistrador" name="TipoUsuario" value="registrador">
                                <span>Registrador</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page Buttons -->
                <div class="container-fluid" name="page_buttons">
                    <div class="row">
                        <div class="col-md-1"></div><!-- Neutral Space -->
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4"></div><!-- Neutral Space -->
                                <div class="col-md-4">
                                    <!-- Form Button -->
                                    <button type="submit" class="btn btn-success btn-block" name="btn_login" id="btn_login">Iniciar Sesión</button>
                                </div>
                                <div class="col-md-4"></div><!-- Neutral Space -->
                            </div>
                        </div>
                        <div class="col-md-1"></div><!-- Neutral Space -->
                    </div>
                </div>
                <!-- End Page Buttons -->

            </form>
            <!-- End Form -->
        </div>
        <div class="col-md-1"></div><!-- Neutral Space -->
    </div>

</div>
<!-- End Data Inputs -->

<br><br><!-- Neutral Space -->
<!-- End Content -->

