    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!VerConvocatoriaAlumno"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Nueva Solicitud de Ingreso</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_Alumno"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <label>Universidad:</label>
                        <input type="text" class="form-control" id="Univerdidad" name="" value="" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Posgrado:</label>
                        <input type="text" class="form-control" id="Posgrado" name="" value="" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Lineas de Investigación Disponibles:</label>
                        <br><!-- Neutral Space -->
                        <!--  Lista de Resultados -->
                        <div id="DivResultados" class="form-group">

                            <!-- Elemento Lista -->

                        </div>
                        <!-- End Lista Resultados -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Temas Disponibles:</label>
                        <br><!-- Neutral Space -->
                        <!--  Lista de Resultados -->
                        <div id="DivResultados1" class="form-group">

                            <!-- Elemento Lista -->

                        </div>
                        <!-- End Lista Resultados -->
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->


    <!-- Hiiden Forms -->
    <div class="d-none">
        <!-- 17 -->
        <form id="Oculto">
            <input type="hidden" id="IdPosgradoO" name="idPosgrado">
            <input type="hidden" id="IdSitioO" name="">
            <input type="hidden" id="IdUniversidadO" name="">
            <input type="hidden" id="OperationO" name="Operation">
        </form>
        <!-- 18 -->
        <form id="Oculto1">
            <input type="hidden" id="IdPosgradoO1" name="">
            <input type="hidden" id="IdLineaInvestogacionO" name="idLinea">
            <input type="hidden" id="OperationO1" name="Operation">
        </form>
    </div>
    <!-- End Hiiden Forms -->
