    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Menu -->
    <div class="container-fluid" name="menu">
        <div class="row">
            <div class="col-md-3"></div> <!-- Neutral Space -->
            <!-- Main Menu -->
            <div class="col-md-6">
                <h1 class="justify-content-center d-flex"> Registrador </h1>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success btn-block btn-lg" href="#!MenuAlumno" id="btn_alumnos">Alumnos</a>
                        <a class="btn btn-success btn-block btn-lg" href="#!MenuProfesor" name="btn_profesores" id="btn_profesores">Profesores</a>
                    </div>
                </div>
            </div>
            <!--  End Main Menu -->
            <div class="col-md-3"></div> <!-- Neutral Space -->
        </div>
    </div>
    <!-- End Menu -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->