    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!ListarProfesores">Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Perfil Profesor</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_Registrador">Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2"></div><!-- Neutral Space -->
                    <div class="col-md-8">
                        <!-- Resultados -->
                        <div id="resultados" class="form-group">
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Nombre:</label>
                                    <input type="text" class="form-control" id="Nombre" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Fecha de Nacimiento:</label>
                                    <input type="text" class="form-control" id="FechaNacimiento" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Género:</label>
                                    <input type="text" class="form-control" id="Genero" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Dirección:</label>
                                    <input type="text" class="form-control" id="Direccion" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Entidad Federativa:</label>
                                    <input type="text" class="form-control" id="EntidadFerderativa" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Ciudad:</label>
                                    <input type="text" class="form-control" id="Ciudad" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Teléfono:</label>
                                    <input type="text" class="form-control" id="Telefono" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Cédula Profesional:</label>
                                    <input type="text" class="form-control" id="Cedula" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Correo:</label>
                                    <input type="text" class="form-control" id="Correo" value="" readonly>

                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Fecha de Resgistro:</label>
                                    <input type="text" class="form-control" id="FechaRegistro" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Estado:</label>
                                    <input type="text" class="form-control" id="Estado" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Area de Conocimiento:</label>
                                    <input type="text" class="form-control" id="AreaC" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Posgrado:</label>
                                    <input type="text" class="form-control" id="Posgrado" value="" readonly>
                                </div>
                            </div>
                            <!-- Data -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Linea de Investigación:</label>
                                    <input type="text" class="form-control" id="LineaInvestigacion" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <!-- End Resultados -->
                    </div>
                    <div class="col-md-2"></div><!-- Neutral Space -->
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <br><!-- Neutral Space -->

    <!-- Page Buttons -->
    <div class="container-fluid" name="page_buttons">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-1"></div><!-- Neutral Space -->
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success btn-block" id="BtnHabilitarDes"> Habiltar/Deshabilitar Profesor </button>
                    </div>
                    <div class="col-md-6"></div><!-- Neutral Space -->
                   <!-- <div class="col-md-2">
                        <button type="button" class="btn btn-success btn-block" id="btn_edit"> Editar </button>
                    </div>-->
                    <div class="col-md-1"></div><!-- Neutral Space -->
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Page Buttons -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->

    <!-- Hiiden Forms -->
    <div class="d-none">
        <!-- 20 -->
        <form id="Oculto">
            <input type="hidden" id="IdRegistrador" name="idReg">
            <input type="hidden" id="IdProfesor" name="idProfesor">
            <input type="hidden" id="Operation" name="Operation">
        </form>
        <!-- 21 -->
        <form id="Oculto1">
            <input type="hidden" id="IdProfesor1" name="idProfesor">
            <input type="hidden" id="Operation1" name="Operation">
        </form>
    </div>
    <!-- End Hiiden Forms -->
