    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!VerCurso"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Finalizar Curso</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_Profesor"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data Inputs & Views -->
    <div class="container-fluid" name="data_inputs_views">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 overflow-auto">
                        <form >
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr id="resultados1">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nombre
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="resultados2">
                                    <!-- Lista Resultados -->
                                    <!-- Elemento Lista -->
                                   

                                    <!-- End Elemento Lista -->
                                    <!-- End Lista Resultados -->

                                </tbody>
                            </table>

                            <br><!-- Neutral Space -->
                            <!-- Page Buttons -->
                            <div class="container-fluid" name="page_buttons">
                                <div class="row">
                                    <div class="col-md-4"></div><!-- Neutral Space -->
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success btn-block btn-sm" id="SaveEnd"> Guardar y Terminar </button>
                                    </div>
                                    <div class="col-md-4"></div><!-- Neutral Space -->
                                </div>
                            </div>
                            <!-- End Page Buttons -->


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data Inputs & Views -->


    <!-- End Content -->

    <!-- Hiiden Forms -->
    <div class="d-none">
        <!-- 14 -->
        <form id="Oculto">
            <input type="hidden" id="IdCurso" name="idCurso">
            <input type="hidden" id="Operation" name="Operation">
        </form>
        
        <form id="Principal">
            <input type="hidden" id="IdCursoP" name="idCurso">
            <input type="hidden" id="OperationP" name="Operation">
        </form>
        
    </div>
    <!-- End Hiiden Forms -->
