    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">
            <div class="col-md-2"></div><!-- Neutral Space -->
            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Cursos Activos </h3>
            </div>
            <!-- End Page Title -->
            <div class="col-md-2"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data View -->
    <div class="container-fluid" name="data_view">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">

                <!-- Lista Resultados -->
                <div id="DivResultados" class="form-group">

                    <!-- Elemento Lista -->

                </div>
                <!-- End Lista Resultados -->

            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>
    </div>
    <!-- End Data View -->

    <br><br><!-- Neutral Space -->
    <!-- End Content -->

    <!-- Hiiden Forms -->
    <div class="d-none">
        <!-- 1-1 -->
        <form id="Oculto">
            <input type="hidden" id="IdProfesor" name="idProfesor">
            <input type="hidden" id="Operation" name="Operation">
        </form>
    </div>
    <!-- End Hiiden Forms -->
