    <!-- Content -->
    <br><br><!-- Neutral Space -->

    <!-- Header -->
    <div class="container-fluid" name="header">
        <div class="row">

            <!-- Back Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!VerCurso"> Regresar </a>
            </div>
            <!-- End Back Button -->

            <!-- Page Title -->
            <div class="col-md-8">
                <h3 class="text-center text-primary"> Nueva Actividad</h3>
            </div>
            <!-- End Page Title -->

            <!-- Home Button -->
            <div class="col-md-2">
                <a class="btn btn-success btn-block btn-sm" href="#!index_Profesor"> Inicio </a>
            </div>
            <!-- End Home Button -->

        </div>
    </div>
    <!-- End Header -->

    <br><!-- Neutral Space -->

    <!-- Data Inputs -->
    <div class="container-fluid" name="data_inputs">
        <div class="row">
            <div class="col-md-1"></div><!-- Neutral Space -->
            <div class="col-md-10">
                <!-- Form Op 12-->
                <form id="Principal">
                    <div class="row form-group">
                        <div class="col-md-4"></div><!-- Neutral Space -->
                        <div class="col-md-4">
                            <!-- Input 1-->
                            <label>Nombre:</label>
                            <input type="text" class="form-control" name="Nombre">
                        </div>
                        <div class="col-md-4"></div><!-- Neutral Space -->
                    </div>
                    <div class="row form-group">
                        <div class="col-md-1"></div><!-- Neutral Space -->
                        <div class="col-md-10">
                            <!-- Input 2-->
                            <label>Actividad (Instrucciones/Descripción):</label>
                            <input type="text" class="form-control" name="Actividad">
                        </div>
                        <div class="col-md-1"></div><!-- Neutral Space -->
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div><!-- Neutral Space -->
                        <div class="col-md-4">
                            <!-- Input 3-->
                            <div class="form-group">
                                <label> Fecha inicio: </label>
                                <input type="date" class="form-control" name="FechaInicio">
                            </div>
                            <!-- Input 4-->
                            <div class="form-group">
                                <label> Hora inicio: </label>
                                <input type="time" class="form-control" name="HoraInicio">
                            </div>
                        </div>
                        <div class="col-md-2"></div><!-- Neutral Space -->
                        <div class="col-md-4">
                            <!-- Input 5-->
                            <div class="form-group">
                                <label> Fecha fin: </label>
                                <input type="date" class="form-control" name="FechaFin">
                            </div>
                            <!-- Input 6-->
                            <div class="form-group">
                                <label> Hora fin: </label>
                                <input type="time" class="form-control" name="HoraFin">
                            </div>
                        </div>
                        <div class="col-md-1"></div><!-- Neutral Space -->
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div><!-- Neutral Space -->
                        <div class="col-md-2">
                            <!-- Input 7 -->
                            <label> Tipo: </label>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <input type="radio" name="Tipo" value="E">
                                    <label>Examen</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" name="Tipo" value="T">
                                    <label>Tarea</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5"></div><!-- Neutral Space -->
                    </div>


                    <br><!-- Neutral Space -->

                    <!-- Page Buttons -->
                    <div class="container-fluid" name="page_buttons">
                        <div class="row">
                            <div class="col-md-1"></div><!-- Neutral Space -->
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5"></div><!-- Neutral Space -->
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success btn-block"  id="BtnAgregar"> Agregar </button>
                                    </div>
                                    <div class="col-md-5"></div><!-- Neutral Space -->
                                </div>
                            </div>
                            <div class="col-md-1"></div><!-- Neutral Space -->
                        </div>
                    </div>
                    <!-- End Page Buttons -->
                    
                    <input type="hidden" id="IdCurso" name="idCurso">
                    <input type="hidden" id="FechaAsignacion" name="FechaAsignacion">
                    <input type="hidden" id="Operation" name="Operation">

                </form>
                <!-- End Form -->
            </div>
            <div class="col-md-1"></div><!-- Neutral Space -->
        </div>

    </div>
    <!-- End Data Inputs -->

    <!-- End Content -->
